@import "tailwindcss";

@layer components {
  .fixed-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
  }

  .section-padding {
    padding: 48px 24px;
  }
}

/* Variable */

@font-face {
  font-family: "Plus Jakarta Sans Variable";
  src: url("../assets/fonts/webfonts/PlusJakartaSans[wght].woff2")
    format("woff2");
  font-weight: 200 800;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Plus Jakarta Sans Variable";
  src: url("../assets/fonts/webfonts/PlusJakartaSans-Italic[wght].woff2")
    format("woff2");
  font-weight: 200 800;
  font-display: swap;
  font-style: italic;
}

/* heroTextAnim.js */

@font-face {
  font-family: "Plus Jakarta Sans Hero Subsetted";
  src: url("../assets/fonts/subset/PlusJakartaSans-Bold-Subset.otf")
    format("opentype");
  font-display: swap;
}

/* Regular */

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../assets/fonts/webfonts/PlusJakartaSans-ExtraLight.woff2")
    format("woff2");
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../assets/fonts/webfonts/PlusJakartaSans-Light.woff2")
    format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../assets/fonts/webfonts/PlusJakartaSans-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../assets/fonts/webfonts/PlusJakartaSans-Medium.woff2")
    format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../assets/fonts/webfonts/PlusJakartaSans-SemiBold.woff2")
    format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../assets/fonts/webfonts/PlusJakartaSans-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../assets/fonts/webfonts/PlusJakartaSans-ExtraBold.woff2")
    format("woff2");
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}

/* Italic */

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../assets/fonts/webfonts/PlusJakartaSans-ExtraLightItalic.woff2")
    format("woff2");
  font-weight: 200;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../assets/fonts/webfonts/PlusJakartaSans-LightItalic.woff2")
    format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../assets/fonts/webfonts/PlusJakartaSans-Italic.woff2")
    format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../assets/fonts/webfonts/PlusJakartaSans-MediumItalic.woff2")
    format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../assets/fonts/webfonts/PlusJakartaSans-SemiBoldItalic.woff2")
    format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../assets/fonts/webfonts/PlusJakartaSans-BoldItalic.woff2")
    format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../assets/fonts/webfonts/PlusJakartaSans-ExtraBoldItalic.woff2")
    format("woff2");
  font-weight: 800;
  font-display: swap;
  font-style: italic;
}
