@import "tailwindcss";

@layer components {
  .fixed-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
  }
}

@font-face {
  font-family: "Plus Jakarta Sans Variable";
  src: url("/public/fonts/webfonts/PlusJakartaSans[wght].woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Plus Jakarta Sans Variable";
  src: url("/public/fonts/webfonts/PlusJakartaSans-Italic[wght].woff2")
    format("woff2");
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Plus Jakarta Sans Hero";
  src: url("/public/fonts/subset/PlusJakartaSans-Bold-Subset.otf")
    format("opentype");
  font-display: swap;
}
