@import "tailwindcss";

/* @plugin "tailwindcss-animate";
@custom-variant dark (&:is(.dark *)); */

@layer components {
  .fixed-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
  }

  .section-padding {
    padding: 48px 24px;
  }

  .showcase-tool {
    padding: 0.5rem;
    border-radius: 0.25rem;
    background-color: color-mix(
      in oklab,
      var(--color-zinc-50) 50%,
      transparent
    );
  }
}

/* ShadCN */

:root {
  --background: var(--color-white);
  --foreground: var(--color-black);
  --card: var(--color-white);
  --card-foreground: var(--color-black);
  --popover: var(--color-white);
  --popover-foreground: hsl(240 10% 3.9%);
  --primary: hsl(240 5.9% 10%);
  --primary-foreground: hsl(0 0% 98%);
  --secondary: hsl(240 4.8% 95.9%);
  --secondary-foreground: hsl(240 5.9% 10%);
  --muted: var(--color-zinc-100);
  --muted-foreground: var(--color-zinc-500);
  --accent: var(--color-zinc-100);
  --accent-foreground: var(--color-black);
  --destructive: hsl(0 84.2% 60.2%);
  --destructive-foreground: hsl(0 0% 98%);
  --border: var(--color-zinc-200);
  --input: hsl(240 5.9% 90%);
  --ring: var(--color-zinc-200);
  --radius: 0.6rem;
}

.dark {
  --background: hsl(240 10% 3.9%);
  --foreground: hsl(0 0% 98%);
  --card: hsl(240 10% 3.9%);
  --card-foreground: hsl(0 0% 98%);
  --popover: hsl(240 10% 3.9%);
  --popover-foreground: hsl(0 0% 98%);
  --primary: hsl(0 0% 98%);
  --primary-foreground: hsl(240 5.9% 10%);
  --secondary: hsl(240 3.7% 15.9%);
  --secondary-foreground: hsl(0 0% 98%);
  --muted: hsl(240 3.7% 15.9%);
  --muted-foreground: hsl(240 5% 64.9%);
  --accent: hsl(240 3.7% 15.9%);
  --accent-foreground: hsl(0 0% 98%);
  --destructive: hsl(0 62.8% 30.6%);
  --destructive-foreground: hsl(0 0% 98%);
  --border: var(--color-zinc-800);
  --input: hsl(240 3.7% 15.9%);
  --ring: hsl(240 4.9% 83.9%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

/* Variable */

@font-face {
  font-family: "Plus Jakarta Sans Variable";
  src: url("../assets/fonts/webfonts/PlusJakartaSans[wght].woff2")
    format("woff2");
  font-weight: 200 800;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Plus Jakarta Sans Variable";
  src: url("../assets/fonts/webfonts/PlusJakartaSans-Italic[wght].woff2")
    format("woff2");
  font-weight: 200 800;
  font-display: swap;
  font-style: italic;
}

/* heroTextAnim.js */

@font-face {
  font-family: "Plus Jakarta Sans Hero Subsetted";
  src: url("../assets/fonts/subset/PlusJakartaSans-Bold-Subset.otf")
    format("opentype");
  font-display: swap;
}

/* Regular */

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../assets/fonts/webfonts/PlusJakartaSans-ExtraLight.woff2")
    format("woff2");
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../assets/fonts/webfonts/PlusJakartaSans-Light.woff2")
    format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../assets/fonts/webfonts/PlusJakartaSans-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../assets/fonts/webfonts/PlusJakartaSans-Medium.woff2")
    format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../assets/fonts/webfonts/PlusJakartaSans-SemiBold.woff2")
    format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../assets/fonts/webfonts/PlusJakartaSans-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../assets/fonts/webfonts/PlusJakartaSans-ExtraBold.woff2")
    format("woff2");
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}

/* Italic */

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../assets/fonts/webfonts/PlusJakartaSans-ExtraLightItalic.woff2")
    format("woff2");
  font-weight: 200;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../assets/fonts/webfonts/PlusJakartaSans-LightItalic.woff2")
    format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../assets/fonts/webfonts/PlusJakartaSans-Italic.woff2")
    format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../assets/fonts/webfonts/PlusJakartaSans-MediumItalic.woff2")
    format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../assets/fonts/webfonts/PlusJakartaSans-SemiBoldItalic.woff2")
    format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../assets/fonts/webfonts/PlusJakartaSans-BoldItalic.woff2")
    format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../assets/fonts/webfonts/PlusJakartaSans-ExtraBoldItalic.woff2")
    format("woff2");
  font-weight: 800;
  font-display: swap;
  font-style: italic;
}
