---
import Layout from "../layouts/Layout.astro";
import HeroTextAnim from "../components/HeroTextAnim.astro";
---

<Layout>
  <main class="min-h-screen">
    <div class="flex justify-center items-center min-h-[400px]">
      <HeroTextAnim />
    </div>
  </main>
</Layout>
