---
// index.astro
import HeroText from "../components/HeroText.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <HeroText />
    <section class="h-screen"></section>
  </main>
</Layout>
