---
// index.astro
import AboutFont from "../components/AboutFont.astro";
import HeroText from "../components/HeroText.astro";
import Layout from "../layouts/Layout.astro";
import StylesFont from "../components/StylesFont.astro";
---

<Layout>
  <main class="flex-1">
    <HeroText />
    <AboutFont />
    <StylesFont />
  </main>
</Layout>
