---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>TEST</h1>
</Layout>

<style>
  h1 {
    font-family: "Plus Jakarta Sans Variable", sans-serif;
    font-weight: 400;
    font-style: italic;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
</style>
