---
import HomeSideTitle from "./HomeSideTitle.astro";
---

<section
  class="fixed-container grid px-4 md:grid-cols-[0.175fr_0.825fr] md:px-6"
>
  <HomeSideTitle>Information</HomeSideTitle>
  <div class="grid grid-cols-2 text-sm leading-relaxed">
    <p>
      The Plus Jakarta Sans is a versatile modern type family designed for Plus
      Jakarta City Branding in 2020, where each glyph has its own varieties with
      its own different characteristics. Like the city itself, the beauty is in
      the details. The charms of Plus Jakarta Sans appear when one looks closer,
      manifesting in a beauty that emerges once seen as a whole. Each alternate
      on Display family contains several alternates characters, while the text
      version has a small adjustment to preserve the legibility of small sizes.
    </p>
  </div>
</section>

<style>
  p {
    line-height: 1.6;
  }
</style>
