---

---

<div id="p5-container" class="mx-auto block"></div>

<script>
  import q5 from "q5";
  import { sketch } from "../../scripts/heroTextAnim";
  
  // lmao
  new (q5 as any)(sketch, document.getElementById("p5-container"));
</script>
