---
import HeroTextAnim from "./HeroTextAnim.astro";
---

<section
  class="flex h-dvh flex-col items-center justify-center gap-y-0 overflow-hidden bg-black
    md:gap-y-2"
>
  <HeroTextAnim />
  <p
    id="subtitle"
    class="pr-1 text-center text-[10px] text-white opacity-0 transition-opacity
      duration-500 md:pl-2 md:text-2xl lg:text-3xl"
  >
    Open-source Fonts for Jakarta City of Collaboration
  </p>
</section>

<script>
  window.addEventListener("DOMContentLoaded", () => {
    window.addEventListener("animationComplete", () => {
      const subtitle = document.getElementById("subtitle");
      if (subtitle) {
        subtitle.style.opacity = "1";
      }
    });
  });
</script>
