---
import HeroText from "./HeroText.astro";
import HomeFontStyles from "./HomeFontStyles.astro";
import HomeFontShowcase from "./HomeFontShowcase.astro";
---

<main class="flex flex-col">
  <HeroText />
  <HomeFontStyles />
  <HomeFontShowcase />
</main>
