---

---

<div
  class="fixed-container feature grid grid-rows-1 px-4 py-5 text-[13px]
    tracking-[-0.01em] text-zinc-900 md:grid-cols-[0.15fr_0.45fr_0.35fr] md:px-9
    md:py-9 md:text-[15px]"
>
  <p class="font-bold text-black">Information</p>
  <div
    class="flex max-w-[338px] flex-col gap-y-2 pt-2 text-pretty sm:max-w-[385px]
      md:max-w-[440px] md:pt-0"
  >
    <p>
      Plus Jakarta Sans is a geometric sans serif font family designed by
      Gumpita Rahayu from Tokotype and commissioned by 6616 Studio for the
      Jakarta Provincial Government’s +Jakarta City of Collaboration identity in
      2020.
    </p>
    <p>
      Inspired by Neuzit Grotesk, Futura, and 1930s grotesque styles, it
      features modern, clean forms with a slightly taller x-height, open
      counters, and balanced spacing for legibility.
    </p>
    <p>
      The family offers three stylistic alternates—<span class="lancip"
        >Lancip</span
      >, <span class="lurus">Lurus</span>, and <span class="lingkar"
        >Lingkar</span
      >—that provide unique glyph variations.
    </p>
    <p>The fonts are available under the SIL Open Font License.</p>
  </div>
  <div class="flex flex-col pt-2 text-sm md:pt-0">
    <p class="font-bold">Version History</p>
    <p>Plus Jakarta Sans 2.7.1</p>
  </div>
</div>
