---
import AboutFont from "./AboutFont.astro";
import HeroText from "./HeroText.astro";
import StylesFont from "./StylesFont.astro";
---

<main class="mb-12 flex flex-col gap-6 md:gap-12">
  <HeroText />
  <AboutFont />
  <StylesFont />
</main>
