---
import FontShowcase from "@/components/font_showcase/FontShowcase";
import HeroText from "./HeroText.astro";
---

<main class="flex flex-col">
  <HeroText />
  <FontShowcase client:load />
</main>
