---
import FontShowcase from "@/components/font_showcase/FontShowcase";
import HeroText from "./HeroText.astro";
---

<main class="flex flex-col">
  <HeroText />
  <hr class="my-2 h-px w-full bg-transparent text-zinc-200 md:my-4" />
  <FontShowcase
    defaultEditableText="Oceanography"
    defaultFontWeight="200"
    client:idle
  />
  <FontShowcase
    defaultEditableText="Biotechnologist"
    defaultFontWeight="300"
    defaultFontFeatures={["ss01"]}
    client:idle
  />
  <FontShowcase
    defaultEditableText="Semiconductor"
    defaultFontWeight="400"
    client:idle
  />
  <FontShowcase
    defaultEditableText="Lexicographers"
    defaultFontWeight="500"
    defaultFontFeatures={["ss02"]}
    client:idle
  />
  <FontShowcase
    defaultEditableText="Oceanography"
    defaultFontWeight="600"
    client:idle
  />
  <FontShowcase
    defaultEditableText="Biotechnologist"
    defaultFontWeight="700"
    defaultFontFeatures={["ss03"]}
    client:idle
  />
  <FontShowcase
    defaultEditableText="Semiconductor"
    defaultFontWeight="800"
    client:idle
  />
</main>
