---

---

<div
  class="fixed-container feature grid grid-rows-1 gap-1.5 px-4 py-5 text-[13px]
    leading-[1.5] tracking-tight text-zinc-900 md:grid-cols-[0.2fr_0.8fr] md:px-10
    md:py-10 md:text-[15px]"
>
  <p class="leading-none font-semibold text-black">Information</p>
  <div class="flex max-w-[425px] flex-col gap-y-2 text-pretty">
    <p>
      Plus Jakarta Sans is a geometric sans serif font family designed by
      Gumpita Rahayu from Tokotype and commissioned by 6616 Studio for the
      Jakarta Provincial Government’s +Jakarta City of Collaboration identity in
      2020.
    </p>
    <p>
      Inspired by Neuzit Grotesk, Futura, and 1930s grotesque styles, it
      features modern, clean forms with a slightly taller x-height, open
      counters, and balanced spacing for legibility.
    </p>
    <p>
      The family offers three stylistic alternates—<span class="lancip"
        >Lancip</span
      >, <span class="lurus">Lurus</span>, and <span class="lingkar"
        >Lingkar</span
      >—that provide unique glyph variations.
    </p>
    <p>The fonts are available under the SIL Open Font License.</p>
    <div class="flex flex-col gap-y-1.5 *:leading-none">
      <p class="font-semibold">Version History</p>
      <p class="text-[13px] md:text-[15px]">Plus Jakarta Sans 2.7.1</p>
    </div>
  </div>
</div>
