---
import FontShowcase from "@/components/font_showcase/FontShowcase";
import HeroText from "./HeroText.astro";
---

<main class="flex flex-col">
  <HeroText />

  <hr class="my-2 h-px w-full text-zinc-200 md:my-4" />
  <FontShowcase defaultEditableText="Jatinegara" client:idle />
  <hr class="my-2 h-px w-full text-zinc-200 md:my-4" />
  <FontShowcase
    defaultEditableText="Kemayoran"
    defaultFontWeight="200"
    defaultFontFeatures={["ss02"]}
    className="tracking-[-0.075em]"
    client:idle
  />
  <hr class="my-2 h-px w-full text-zinc-200 md:my-4" />
</main>
