---
import HeroText from "./HeroText.astro";
import HomeFontInfo from "./HomeFontInfo.astro";
import HomeFontShowcase from "./HomeFontShowcase.astro";
---

<main class="flex flex-col">
  <HeroText />
  <HomeFontInfo />
  <HomeFontShowcase />
</main>
