---
import AboutFont from "./AboutFont.astro";
import FontShowcase from "./FontShowcase.astro";
import HeroText from "./HeroText.astro";
---

<main class="mb-12 flex flex-col">
  <HeroText />
  <AboutFont />
  <FontShowcase />
</main>
