---
import AboutFont from "./AboutFont.astro";
import FontShowcase from "./FontShowcase.astro";
import FontStyles from "./FontStyles.astro";
import HeroText from "./HeroText.astro";
import StylesFont from "./StylesFont.astro";
---

<main class="mb-12 flex flex-col">
  <HeroText />
  <FontShowcase />
  <FontStyles />
  <StylesFont />
  <AboutFont />
</main>
