---

---

<div
  class="fixed-container group/showcase grid grid-cols-[0.2fr_0.4fr_0.4fr] gap-x-10 px-4
    py-2 text-base leading-[1.666] md:px-15 md:py-15"
>
  <p class="text-xl font-semibold">About</p>
  <div>
    <p class="mb-6">
      Plus Jakarta Sans is a font family that takes geometric sans serif styles,
      designed by Gumpita Rahayu from Tokotype, the fonts were originally
      commissioned by 6616 Studio for Jakarta Provincial Government program's
      +Jakarta City of Collaboration identity in 2020.
    </p>
    <p>
      Taking part of inspiration such as Neuzit Grotesk, Futura, and 1930s
      grotesque sans serif with almost monoline contrast and pointy curves, the
      fonts consist modern and clean cut forms, the x-height dimension slight
      taller to provide clear spaces between caps and x-height, this also
      equipped with open counter and balanced spaces to preserve the legibility
      at a range of sizes.
    </p>
  </div>
  <p>
    The beauty of diversity captured in typography. Like the city itself, the
    unique points of this fonts is that in some glyphs has its own diversity and
    characteristic of various explorations of forms that enrich the expressions
    and stories that coexist. The charms of Plus Jakarta Sans fonts appear when
    one looks closer, manifesting in a beauty that emerges once seen as a whole.
    Each alternate on the family contains several alternates characters, divided
    into three stylistic alternates which Lancip (Sharp), Lurus (Straight), and
    Lingkar (Swirl).
  </p>
</div>
