---
import FontShowcase from "../font_showcase/FontShowcase";
const longTextClass: string =
  "max-h-[400px] max-w-full columns-2 gap-x-6 hyphens-auto text-justify overflow-hidden break-words whitespace-pre-wrap tracking-tight leading-tight";
---

<section>
  <hr class="h-px w-full bg-transparent text-zinc-200" />
  <!-- single line -->
  <FontShowcase
    defaultEditableText="Kelapa Gading"
    defaultFontWeight="200"
    client:load
  />
  <FontShowcase
    defaultEditableText="Cempaka Putih"
    defaultFontWeight="500"
    defaultFontFeatures={["ss02"]}
    client:load
  />
  <FontShowcase
    defaultEditableText="Pondok Indah"
    defaultFontFeatures={["ss01"]}
    defaultFontWeight="800"
    client:load
  />
  <!-- short text -->
  <FontShowcase
    defaultEditableText="Masing-masing dari kita punya garis\nkehidupan yang telah digambarkan.\nDan masing-masing dari kita, kalau\ndiizinkan, akan saling bersinggungan."
    defaultFontWeight="300"
    defaultFontFeatures={["ss02"]}
    client:load
  />
  <FontShowcase
    defaultEditableText="Kita akan selalu berpikir kalau\nada sesuatu yang salah dengan\nkita; dan mungkin saja memang\nada. Tapi, terus kenapa?"
    defaultFontWeight="700"
    defaultFontFeatures={["ss03"]}
    className="leading-none"
    client:load
  />
  <!-- long text -->
  <FontShowcase
    defaultEditableText="Most modern machine shops are equipped to measure down to one thousandth of an inch. As an advertising device, in 1922 ATF manufactured a piece of type eight points tall 0.11 inch containing the entire Lord’s Prayer in 13 lines of text, using a cutting tool roughly equivalent to a 2000-dpi printer. American Type Founders ATF was a business trust created in 1892 by the merger of 23 type foundries, representing about 85 percent of all type manufactured in the United States. The new company, consisting of a consolidation of firms from throughout the United States, was incorporated in New Jersey. ATF was the dominant American manufacturer of metal type from its creation in 1892 until at least the 1940s; it continued to be influential into the 1960s. Many fonts developed by American Type Founders in its period of dominance, including News Gothic, Century Schoolbook, Franklin Gothic, Hobo and Bank Gothic, are still in everyday use. By the beginning of the final decade of the nineteenth century, type founding was in a state of crisis. With the introduction of the Linotype, which could cast whole lines of body type in-house, demand for hand-set type was down. Throughout the late 1880s prices had been maintained by an informal cartel of foundries, but as the number of foundries increased, and then with the invention of hot metal type, prices dropped dramatically. Additionally, type at this time was not standardized, either to body size or to base line, and printers resented the incompatibility of types from different foundries. Leaders in the industry, notably Joseph W. Phinney of the Dickinson Type Foundry in Boston, set up a committee to address these problems, eventually recommending consolidation. By the late 1880s, there were some 34 foundries in the United States. In 1892, 23 foundries were brought together to form the American Type Founders Company. Key to the success of this merger was the inclusion of MacKellar, Smiths, and Jordan Co. of Philadelphia, with assets of over 6 million, the Cincinnati Type Foundry of Henry Barth, which brought with it the patents to his Barth Typecaster, and Benton, Waldo Foundry of Milwaukee, which included Linn Boyd Benton and his all-important Benton Pantograph which engraved type matrices directly instead of using punches and allowed the optical scaling of type. With the inclusion of the Barth Caster and the Benton Pantograph, ATF immediately became the largest and the most technologically advanced foundry in the world. Conditions for the first few years were chaotic: while 12 foundries ceased separate operations immediately member foundries continued to operate as if they were independent firms. Real consolidation did not begin until 1894, when Robert Wickham Nelson, principal owner of the Throne Typesetting Machine Company and a new stockholder in ATF, became general manager. He immediately began to liquidate unprofitable ventures, eliminate duplications, and force the various branches to do business under the ATF name instead of retaining their former ones. Linn Boyd Benton’s son, Morris Fuller Benton, was given the job of purging obsolete and duplicated type faces from the catalogs, and standardizing the point size and base-line of the types made. Nelson, realizing that display and advertising type rather than the body type that was set so efficiently by the new line-casters would be the mainstay of the foundry type business, immediately began an extensive advertising campaign and commissioned the production of new type designs. Joseph W. Phinney was put in charge of the design department and he supervised the introduction of Cushing, Howland, Bradley, and the William Morris inspired Satanick and Jenson Oldstyle, the last of these being hugely successful. Young Benton was then commissioned to finish Lewis Buddy’s Elbert Hubbard inspired Roycroft, another successful introduction. While Phinney often used free-lance designers, like Will Bradley, T.M. Cleland, Walter Dorwin Teague, Frederic Goudy, and Oz Cooper, the bulk of ATF’s catalog through the 1930s was the creation of Morris Fuller Benton. Though he never became well known, even within the printing industry, Benton enjoyed a record of successful type introductions unparalleled by anyone, much to the profit of ATF. Benton, though he did not invent either idea, was the most successful designer of revivals of historical type designs such as his re-cutting of Bodoni and Garamond and he perfected the creation of “type families” such as Century or most successfully Cheltenham where a basic face would be offered in italic, light, bold, extended and condensed variations. Another key player at ATF at this time was the advertising manager and informal corporate historian Henry Lewis Bullen, who created a typographic library of historical examples for designers to draw upon. This collection was turned over to Columbia University’s Rare Book and Manuscript Library in 1936. The books form the core of the book arts collection at Columbia. There is also an archive of ATF materials in Columbia’s special collections. In 1901, Nelson consolidated casting operations in a purpose-built factory in Jersey City and the branches remained only as distribution centers. By the 1920s, ATF had offices in 27 American cities and Vancouver, British Columbia, where it sold not only type, but pressroom supplies and printing presses their own Kelly line and those of other manufacturers as well. It printed large specimen books, with many examples of good layout as examples for the advertising market. In 1923, at a cost of 300,000, ATF produced its largest and most superlative type catalog. Sixty thousand of these opulent books, printed extensively in color, were distributed, and to this day they are considered to be masterpieces of the art of letterpress printing. The first paragraph of its preface boasted: The printing of 1923 is greatly superior to that of 1900. It has better style, more attractiveness and greater power and dignity… This great improvement has not come to pass without direction. There has been, in fact, very deliberate direction. There has been constant and forward thinking on behalf of the printing industry by the American Type Founders Company, which has a well defined policy with regard to the types it is making and has been making during the last quarter century. In what position, may we ask, would the printing industry be to-day without the great type families, known to fame as Cheltenham, Century and others. Are there anywhere any other type families. Would not your typography be barren in appearance and much less profitable to the advertisers if these great type designs had not been developed. There can be but one answer. Franklin Gothic and its related faces are a large family of sans-serif typefaces in the industrial or grotesque style developed in the early years of the 20th century by the type foundry American Type Founders ATF and credited to its head designer Morris Fuller Benton. “Gothic” was a contemporary term now little-used except to describe period designs meaning sans-serif. Franklin Gothic has been used in many advertisements and headlines in newspapers. The typeface continues to maintain a high profile, appearing in a variety of media from books to billboards. Despite a period of eclipse in the 1930s, after the introduction of European faces like Kabel and Futura, they were re-discovered by American designers in the 1940s and have remained popular ever since. Benton’s Franklin Gothic family is a set of solid designs, particularly suitable for display and trade use such as headlines rather than for extended text. Many versions and adaptations have been made since. Probably the best-known extension of Franklin Gothic is Victor Caruso’s 1970s ITC Franklin Gothic, which expands the series to include book weights similar to Benton’s News Gothic in a high x-height 1970s style. It is in part bundled with Microsoft Windows. Franklin Gothic itself is an extra-bold sans-serif type. It draws upon earlier, nineteenth century models, from many of the twenty-three foundries consolidated into American Type Founders in 1892. Historian Alexander Lawson speculated that Franklin Gothic was influenced by Berthold’s Akzidenz-Grotesk types but offered no evidence to support this theory which was later presented as fact by Philip Meggs and Rob Carter. It was named in honor of a prolific American printer, Benjamin Franklin."
    defaultFontWeight="400"
    defaultTextAlign="justify"
    defaultFontSize={16}
    className={longTextClass}
    client:load
  />
</section>
