---
const fontWeights = [
  { label: "ExtraLight", class: "font-extralight", value: 200 },
  { label: "Light", class: "font-light", value: 300 },
  { label: "Regular", class: "font-base", value: 400 },
  { label: "Medium", class: "font-medium", value: 500 },
  { label: "SemiBold", class: "font-semibold", value: 600 },
  { label: "Bold", class: "font-bold", value: 700 },
  { label: "ExtraBold", class: "font-extrabold", value: 800 },
];

const { italic = false, title } = Astro.props;
---

<div class="mr-20 flex flex-col tracking-tighter md:mr-30">
  <p class="racking-tight pb-0 md:pt-0 md:pb-2">{title}</p>
  <ul>
    {
      fontWeights.map((weight) => (
        <li
          class={`${weight.class} ${italic ? "italic" : ""} block -indent-1 text-6xl leading-[0.9]
            whitespace-nowrap text-red-500`}
        >
          {weight.label}
          {italic ? "Italic" : ""}
        </li>
      ))
    }
  </ul>
</div>
