---
// TODO: FIX ITALIC INDENT
---

<section
  class="fixed-container grid px-4 md:grid-cols-[0.175fr_0.825fr] md:px-8"
>
  <div class="block h-fit text-lg font-semibold tracking-tight">Styles</div>
  <div
    class="grid w-full grid-cols-2 justify-between overflow-x-auto overflow-y-hidden pt-4
      pb-4 text-6xl whitespace-nowrap md:pt-0"
  >
    <div
      class="flex min-w-full flex-col -indent-1 tracking-tighter text-red-500 *:block"
    >
      <p
        class="pb-2 indent-0 text-lg tracking-tight text-black md:pt-0 md:pb-4"
      >
        Roman
      </p>
      <span class="font-extralight">ExtraLight</span>
      <span class="font-light">Light</span>
      <span class="font-base">Regular</span>
      <span class="font-medium">Medium</span>
      <span class="font-semibold">SemiBold</span>
      <span class="font-bold">Bold</span>
      <span class="font-extrabold">ExtraBold</span>
    </div>
    <div class="flex min-w-full flex-col tracking-tighter text-red-500 *:block">
      <p class="pb-2 text-lg tracking-tight text-black md:pt-0 md:pb-4">
        Italic
      </p>
      <span class="font-extralight italic">ExtraLight Italic</span>
      <span class="font-light italic">Light Italic</span>
      <span class="font-base italic">Regular Italic</span>
      <span class="font-medium italic">Medium Italic</span>
      <span class="font-semibold italic">SemiBold Italic</span>
      <span class="font-bold italic">Bold Italic</span>
      <span class="font-extrabold italic">ExtraBold Italic</span>
    </div>
  </div>
</section>
