---

---

<section class="fixed-container px-4 md:px-8">
  <div class="text-lg font-bold">Styles</div>
  <div class="flex flex-wrap gap-x-2 gap-y-2 text-4xl tracking-tight">
    <p class="font-extrabold">ExtraBold,</p>
    <p class="font-extrabold italic">ExtraBold Italic,</p>
    <p class="font-bold">Bold,</p>
    <p class="font-bold italic">Bold Italic,</p>
    <p class="font-semibold">SemiBold,</p>
    <p class="font-semibold italic">SemiBold Italic,</p>
    <p class="font-medium">Medium,</p>
    <p class="font-medium italic">Medium Italic,</p>
    <p class="font-base">Regular,</p>
    <p class="font-base italic">Regular Italic,</p>
    <p class="font-light">Light,</p>
    <p class="font-light italic">Light Italic,</p>
    <p class="font-extralight">ExtraLight,</p>
    <p class="font-extralight italic">ExtraLight Italic,</p>
  </div>
</section>

<style>
  section {
    display: grid;
    grid-template-columns: 2fr 8fr;
  }
</style>
