---
import HomeSideTitle from "./HomeSideTitle.astro";
import StylesFontWeight from "./StylesFontWeight.astro";
---

<section
  class="fixed-container grid px-4 md:grid-cols-[0.175fr_0.825fr] md:px-6"
>
  <HomeSideTitle>Styles</HomeSideTitle>
  <div
    class="flex w-full grid-cols-2 overflow-x-auto overflow-y-hidden pt-4 pb-4 text-6xl
      whitespace-nowrap md:pt-0"
  >
    <StylesFontWeight title="Roman" />
    <StylesFontWeight title="Italic" italic="true" />
  </div>
</section>
