---

---

<section class="gap-x-4 px-8 py-8 text-sm text-pretty">
  <p class="text-lg font-bold">About Fonts</p>
  <p>
    The +Jakarta Sans is a versatile modern type family designed for +Jakarta
    City Branding in 2020, where each glyph has its own varieties with its own
    different characteristics. Like the city itself, the beauty is in the
    details.
  </p>
  <p>
    The charms of +Jakarta Sans appear when one looks closer, manifesting in a
    beauty that emerges once seen as a whole. Each alternate on Display family
    contains several alternates characters, while the text version has a small
    adjustment to preserve the legibility of small sizes.
  </p>
</section>

<style>
  section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
</style>
