---

---

<footer
  class="flex h-full w-full items-center justify-between bg-black pt-6 pr-10 pb-6 pl-8"
>
  <p class="my-auto grid text-base leading-tight text-white">
    <span class="font-semibold">© 2025 Tokotype Studio.</span>
    <span class="font-light"> All rights reserved.</span>
  </p>
  <div class="my-auto flex h-10 flex-row space-x-4">
    <img src="/plus-jakarta-site-redesign/assets/tokologo.png" alt="logo" />
    <img src="/plus-jakarta-site-redesign/assets/6616logo.png" alt="logo" />
  </div>
</footer>
