---

---

<footer
  class="flex h-full w-full items-center justify-between bg-black pt-6 pr-10 pb-4 pl-8"
>
  <p class="grid text-base font-light tracking-tight text-white">
    Copyright © 2025 Tokotype Studio. All rights reserved.
  </p>
  <div class="my-auto flex h-10 flex-row space-x-4">
    <img src="/plus-jakarta-site-redesign/assets/tokologo.png" alt="logo" />
    <img src="/plus-jakarta-site-redesign/assets/6616logo.png" alt="logo" />
  </div>
</footer>
