---

---

<footer
  class="flex h-full w-full items-center justify-between bg-black px-6 py-6 md:px-8"
>
  <p class="my-auto grid text-xs leading-tight text-white md:text-base">
    <span class="font-semibold">© 2025 Tokotype Studio.</span>
    <span class="font-light"> All rights reserved.</span>
  </p>
  <div class="my-auto flex h-8 flex-row space-x-2 md:h-10 md:space-x-4">
    <img src="/plus-jakarta-site-redesign/assets/tokologo.png" alt="logo" />
    <img src="/plus-jakarta-site-redesign/assets/6616logo.png" alt="logo" />
  </div>
</footer>
