---

---

<div
  id="hero-text-spinner"
  class="hidden md:block md:size-[120px] lg:size-[150px]"
>
</div>

<script>
  window.addEventListener("DOMContentLoaded", () => {
    window.addEventListener("animationStart", () => {
      const heroTextSpinner = document.getElementById("hero-text-spinner");
      if (heroTextSpinner) {
        heroTextSpinner.style.display = "none";
      }
    });
  });
</script>

<style>
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  #hero-text-spinner {
    background-color: white;
    border-radius: 50%;
    animation: spin 0.5s linear infinite;
    background: conic-gradient(transparent, white);

    &::before {
      content: "";
      background-color: black;
      position: absolute;
      width: 95%;
      height: 95%;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
</style>
