---

---

<div id="p5-container" class="mx-auto md:flex hidden"></div>

<script>
  // @ts-ignore
  import q5 from "q5";
  import { sketch } from "../scripts/heroTextAnim";

  new q5(sketch, document.getElementById("p5-container"));
</script>
