---
import HeroTextAnim from "../components/HeroTextAnim.astro";
---

<section
  class="hidden h-screen flex-col items-center justify-center space-y-2 bg-black pb-2 md:flex"
>
  <HeroTextAnim />
  <p
    id="subtitle"
    class="hidden pl-2 text-center text-white opacity-0 transition-opacity duration-500 md:flex md:text-2xl lg:text-3xl"
  >
    Open-source Fonts for Jakarta City of Collaboration
  </p>
</section>

<script>
  window.addEventListener("animationComplete", () => {
    const subtitle = document.getElementById("subtitle");
    if (subtitle) {
      subtitle.style.opacity = "1";
    }
  });
</script>
