<div id="p5-container" class="w-full"></div>

<script>
  // @ts-ignore
  import p5 from "p5/lib/p5.min.js";
  import { sketch } from "../scripts/heroTextAnim";

  new p5(sketch, document.getElementById("p5-container"));
</script>
