---

---

<nav
  class="fixed top-0 hidden h-[50px] w-full flex-row items-center justify-between bg-black p-6"
>
  <!-- <p class="bold flex items-center text-sm font-bold text-white md:text-base">
    <span class="relative -top-[2px]">+</span>Jakarta Sans
  </p> -->
  <img
    src="/plus-jakarta-site-redesign/assets/j-logo.svg"
    alt="logo"
    class="flex h-5 w-auto items-center justify-center"
  />
  <ul class="flex items-center space-x-4 text-xs text-white md:text-sm">
    <li>Features</li>
    <li>Glyphs</li>
    <li>FAQ</li>
    <li>Lab</li>
    <li>
      <a
        href="https://fonts.google.com/specimen/Plus+Jakarta+Sans"
        target="_blank"
        class="underline-offset-4 hover:underline">Download</a
      >
    </li>
  </ul>
</nav>

<script>
  window.addEventListener("scroll", () => {
    const nav = document.querySelector("nav");
    if (nav) {
      if (window.scrollY > 0) {
        nav.classList.remove("hidden");
        nav.classList.add("flex");
      } else {
        nav.classList.remove("flex");
        nav.classList.add("hidden");
      }
    }
  });
</script>
