---

---

<nav class="fixed-container flex flex-row justify-between bg-black p-8">
  <img
    src="assets/j-logo.svg"
    width="20"
    height="20"
    class="flex items-center justify-center"
  />
  <ul class="flex items-center space-x-4 text-white">
    <p>About Fonts</p>
    <p>Type Tester</p>
    <p>Characters</p>
    <p>Download</p>
  </ul>
</nav>
