---

---

<nav
  class="fixed top-0 flex h-[50px] w-full flex-row items-center justify-between bg-black p-6"
>
  <!-- <p class="bold flex items-center text-sm font-bold text-white md:text-base">
    <span class="relative -top-[2px]">+</span>Jakarta Sans
  </p> -->
  <img
    src="/plus-jakarta-site-redesign/assets/j-logo.svg"
    alt="logo"
    class="flex h-5 w-auto items-center justify-center"
  />
  <ul class="flex items-center space-x-4 text-xs text-white md:text-sm">
    <li class="hidden md:block">Features</li>
    <li class="hidden md:block">Glyphs</li>
    <li class="hidden md:block">FAQ</li>
    <li class="hidden md:block">Lab</li>
    <li>
      <a
        href="https://fonts.google.com/specimen/Plus+Jakarta+Sans"
        target="_blank"
        class="underline-offset-4 hover:underline">Download</a
      >
    </li>
  </ul>
</nav>
