---

---

<nav class="flex flex-row justify-between fixed-container bg-black p-8">
  <img
    src="assets/j-logo.svg"
    width="20"
    height="20"
    class="flex justify-center items-center"
  />
  <ul class="text-white flex items-center space-x-4">
    <p>About Fonts</p>
    <p>Type Tester</p>
    <p>Characters</p>
    <p>Download</p>
  </ul>
</nav>
