---

---

<footer class="h-full w-full bg-black p-4 md:px-6">
  <div class="fixed-container flex items-center justify-between">
    <p class="my-auto grid text-xs leading-tight text-white md:text-base">
      <span class="font-semibold">© 2025 Tokotype Studio.</span>
      <span class="font-light"> All rights reserved.</span>
    </p>
    <div class="my-auto flex h-8 flex-row gap-x-2 md:h-10 md:gap-x-4">
      <img src="/plus-jakarta-site-redesign/assets/tokologo.png" alt="logo" />
      <img src="/plus-jakarta-site-redesign/assets/6616logo.png" alt="logo" />
    </div>
  </div>
</footer>
