---
import { JLogo } from "../icons/JLogo";

interface Props {
  stickyNavbar: boolean;
}

const { stickyNavbar = false } = Astro.props as Props;

const navbarButtonStyle =
  "cursor-pointer border not-first:border-l-0 border-zinc-700 bg-zinc-800 px-2 pt-1.75 pb-2.25 hover:border-zinc-700/80 hover:bg-zinc-700";
---

<nav
  class={`${stickyNavbar ? "sticky" : "fixed"} fixed top-0 w-full p-4 md:p-6 z-50`}
>
  <div
    class="fixed-container flex h-8 flex-row justify-between text-sm text-white"
  >
    <a class="flex" href="/" aria-label="Go to home page">
      <JLogo
        name="j-logo"
        className={`${navbarButtonStyle} flex h-full w-auto items-stretch rounded-l-[1px] p-2`}
        aria-hidden="true"
      />
      <p
        class={`${navbarButtonStyle} hidden items-center font-bold md:flex rounded-r-[1px]`}
      >
        Plus Jakarta Sans
      </p>
    </a>
    <div class="flex rounded-xs">
      <a
        href="https://github.com/tokotype/plusjakartasans/releases/latest"
        target="_blank"
        class={`${navbarButtonStyle} hidden items-center md:flex rounded-l-[1px] rounded-r-[1px]`}
        >Download<span class="relative -top-0.25 text-base">&nbsp;↓</span></a
      >
    </div>
  </div>
</nav>
