---

---

<nav>
  <div class="container">
    <p class="test">Test</p>
  </div>
</nav>

<style>
  nav {
    background-color: var(--gray-200);
    position: sticky;
    height: 80px;
    padding: 16px;
  }

  .container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1440px;
  }

  p {
    font-weight: 500;
    font-size: 24px;
  }

  .test {
    display: flex;
    text-align: left;
    align-items: center;
  }
</style>
