---
import "../styles/global.css";
import "@fontsource-variable/plus-jakarta-sans";
import "@fontsource-variable/plus-jakarta-sans/wght-italic.css";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en" class="no-scroll">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/plus-jakarta-site-redesign/assets/jfavico.png"
    />
    <meta name="generator" content={Astro.generator} />
    <title>
      +Jakarta Sans Typeface - Open-source fonts for Jakarta City of
      Collaboration
    </title>
    <style>
      .no-scroll {
        -ms-overflow-style: none;
        scrollbar-width: none;
      }
      .no-scroll::-webkit-scrollbar {
        display: none;
      }
    </style>
  </head>
  <body class="no-scroll">
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>

<style>
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html,
  body {
    height: 100%;
    width: 100%;
    font-family: "Plus Jakarta Sans Variable", sans-serif;
  }
</style>
