---
import "../styles/global.css";

import Navbar from "../components/common/Navbar.astro";
import Footer from "../components/common/Footer.astro";

export interface Props {
  title?: string;
  description?: string;
  showFooter?: boolean;
  stickyNavbar?: boolean;
}

const { title, description } = Astro.props;
const { showFooter = true, stickyNavbar = false } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {
        title
          ? `${title} | +Jakarta Sans`
          : "+Jakarta Sans | Open-source fonts for Jakarta City of Collaboration"
      }
    </title>
    <meta
      name="description"
      content={description ||
        "+Jakarta Sans is an open-source font. Designed for Jakarta 'City of Collaboration' program in 2020."}
    />

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content={title || "+Jakarta Sans"} />
    <meta
      property="og:description"
      content={description ||
        "+Jakarta Sans is an open-source font. Designed for Jakarta 'City of Collaboration' program in 2020."}
    />
    <meta property="og:type" content="website" />
    <meta
      property="og:image"
      content="/plus-jakarta-site-redesign/assets/og-image.png"
    />
    <meta property="og:url" content={Astro.url} />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@frsswq" />
    <meta name="twitter:title" content={title || "+Jakarta Sans"} />
    <meta
      name="twitter:description"
      content={description || "+Jakarta Sans is an open-source font."}
    />
    <meta
      name="twitter:image"
      content="/plus-jakarta-site-redesign/assets/og-image.png"
    />

    <link
      rel="icon"
      type="image/svg+xml"
      href="/plus-jakarta-site-redesign/assets/jfavico.png"
    />
    <meta name="generator" content={Astro.generator} />

    <link
      rel="preload"
      href="/plus-jakarta-site-redesign/fonts/subset/PlusJakartaSans-Bold-Subset.otf"
      as="font"
      type="font/otf"
      crossorigin
    />
    <meta
      http-equiv="Cache-Control"
      content="public, max-age=31536000, immutable"
    />
  </head>
  <body class="bg-white">
    <Navbar stickyNavbar={stickyNavbar} />
    <slot />
    {showFooter && <Footer />}
  </body>
</html>

<style>
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html,
  body {
    height: 100%;
    width: 100%;
    font-family: "Plus Jakarta Sans Variable", sans-serif;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
</style>
