---
import "../styles/global.css";
import Navbar from "../components/common/Navbar.astro";
import Footer from "../components/common/Footer.astro";

const { showFooter = true, stickyNavbar = false } = Astro.props;
---

<!doctype html>
<html lang="en" class="no-scroll">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/plus-jakarta-site-redesign/assets/jfavico.png"
    />
    <meta name="generator" content={Astro.generator} />
    <title>
      +Jakarta Sans Typeface - Open-source fonts for Jakarta City of
      Collaboration
    </title>
    <link
      rel="preload"
      href="/plus-jakarta-site-redesign/fonts/subset/PlusJakartaSans-Bold-Subset.otf"
      as="font"
      type="font/otf"
      crossorigin
    />
    <meta
      http-equiv="Cache-Control"
      content="public, max-age=31536000, immutable"
    />
    <style>
      .no-scroll {
        -ms-overflow-style: none;
        scrollbar-width: none;
      }
      .no-scroll::-webkit-scrollbar {
        display: none;
      }
    </style>
  </head>
  <body class="no-scroll bg-white">
    <Navbar stickyNavbar={stickyNavbar} />
    <slot />
    {showFooter && <Footer />}
  </body>
</html>

<style>
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html,
  body {
    height: 100%;
    width: 100%;
    font-family: "Plus Jakarta Sans Variable", sans-serif;
    /* font-feature-settings: "ss03", "ss02", "ss01"; */
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
</style>
